body {
  font-family: "Space Mono", monospace !important;
  height: 100vh;
  background: #c5e4e7;
  margin: 0;
  padding: 0;
}
@media (max-width: 1024px) {
  body {
    height: 100%;
  }
}

.container {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
}
.container .calculadora {
  background: white;
  border-radius: 16px;
  padding: 32px;
  max-width: 800px;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-gap: 32px;
  /* DISPLAY*/
}
@media (max-width: 1024px) {
  .container .calculadora {
    margin: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.container .calculadora .insert__dados {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .calculadora .insert__dados label {
  font-size: 16px;
  font-size: 14px;
  color: #5e7a7d;
  font-weight: 700;
  display: block;
  margin-bottom: 8px;
}
.container .calculadora .insert__dados #bill,
.container .calculadora .insert__dados #peoples {
  padding: 8px 16px;
  font-size: 24px;
  color: #00494d;
  font-weight: 700;
  background: #f4fafa;
  outline: none;
  border: none;
  border-radius: 8px;
  text-align: right;
  display: inline-flex;
}
@media (max-width: 1024px) {
  .container .calculadora .insert__dados #bill,
.container .calculadora .insert__dados #peoples {
    width: 90%;
    margin: 0 auto;
  }
}
.container .calculadora .insert__dados .tip {
  margin: 32px 0;
}
.container .calculadora .insert__dados .tip p {
  font-size: 14px;
  color: #5e7a7d;
  font-weight: 700;
}
.container .calculadora .insert__dados .tip .tip__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 80px);
  justify-content: center;
  gap: 32px;
}
.container .calculadora .insert__dados .tip .tip__wrapper .button__tip {
  background: #00494d;
  display: inline-flex;
  justify-content: center;
  border: 0;
  outline: none;
  padding: 8px 16px;
  border-radius: 8px;
  width: 80px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: "Space Mono", monospace;
}
.container .calculadora .insert__dados .tip .tip__wrapper input {
  text-align: center;
  border: none;
  outline-color: #00494d;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 18px;
  font-family: "Space Mono", monospace;
  background: #f4fafa;
}
.container .calculadora .number__peoples {
  position: relative;
}
.container .calculadora .number__peoples ion-icon {
  position: absolute;
  bottom: 26px;
  left: 10px;
  color: #5e7a7d;
}
.container .calculadora .display__result {
  border-radius: 16px;
  padding: 16px 32px;
  background: #00494d;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .container .calculadora .display__result {
    max-width: 100%;
    min-width: 300px;
    margin: 0 auto;
    justify-content: center;
  }
}
.container .calculadora .display__result .tip__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .calculadora .display__result .tip__info p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.container .calculadora .display__result .tip__info p span {
  display: block;
  font-size: 12px;
  color: #eee;
}
.container .calculadora .display__result .tip__info span {
  padding-top: 8px;
  font-size: 32px;
  color: #26c0ab;
  font-weight: 700;
}
.container .calculadora .display__result .tip__total {
  padding-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .calculadora .display__result .tip__total p {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.container .calculadora .display__result .tip__total p span {
  display: block;
  font-size: 12px;
  color: #eee;
}
.container .calculadora .display__result .tip__total span {
  font-size: 32px;
  color: #26c0ab;
  font-weight: 700;
}
.container .calculadora .display__result .btnReset {
  padding: 16px 32px;
  text-align: center;
  width: 100%;
  background: #26c0ab;
  border: none;
  outline: 0;
  display: block;
  margin: 64px auto 0 auto;
  font-weight: 700;
  font-size: 18px;
  border-radius: 8px;
}

body.error input {
  border: 1px solid red !important;
}

.msg {
  color: red;
  font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.attribution {
  margin-top: 32px;
}/*# sourceMappingURL=style.css.map */